
/* The Opening Modal (background) */
.modal {
    /* display: none; /* Hidden by default */ */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-backdrop {
  z-index: -1;
}
/* Modal Content/Box */
.modal-content {
    background-size: cover;
    background-repeat: no-repeat;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
}

.popupText{
  color: #184f6f;
  background-color: rgba(244, 65, 64,0.5);
  padding: 20px;
}

.adultButton {
  background-color: rgba(244, 65, 64,0.5);  /* red */
  margin: 5px;
  display: block;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	padding: 10px;
	margin: 15px 0 0 15px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

.adultButton:hover{
  background-color: #f35626;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
}

.minorButton {
  background-color: rgba(244, 65, 64,0.5);  /* red */
  margin: 5px;
  display: block;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	padding: 10px;
	margin: 15px 0 0 15px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
  border-radius: 5px;
  font-size:15px;
  font-weight: bold ;
}

.minorButton:hover{
  background-color: #f35626;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
}

#registerTerms{
  display: none;
}
#registerButtonFinal{
  display: none;
}

/*  JUMBOTRON PIC RESIZE */
.jumbotronPic {
position: relative;
height: 580px;
background-color: black;
opacity: 0.5;
}

.jumbonavbar {
    background-color: #0D0D0D;
}
/* ========== SLIDING SOCIAL MEDIA BUTTON ICONS ================*/
/* ========== SLIDING SOCIAL MEDIA BUTTON ICONS ================*/
/* ========== SLIDING SOCIAL MEDIA BUTTON ICONS ================*/
.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    left:-170px;
    top:230px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:#fff;
    color:#efefef;
    border-radius: 50px;
    overflow: hidden;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}

.sticky li:nth-child(1) {
    background-color: #3e5f94;
}
.sticky li:nth-child(2) {
    background-color:#3ba2ee;
}
.sticky li:nth-child(3) {
    background-color:#e74c34;
}
.sticky li:nth-child(4) {
    background-color: red;
}

.sticky li:hover{
    margin-right:-115px;
}
.sticky li img{
    float:right;
    margin:5px 4px;
    margin-right:5px;
    border-radius: 50%;
}
.sticky li p{
    margin:0px;
    line-height:16px;
    font-size:11px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

}
.sticky li p a{
    text-decoration:none;
    color:#fff;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;


}
.sticky li p a:hover{
    text-decoration:none;
}

/* ========== SLIDING SOCIAL MEDIA BUTTON ICONS END================*/
/* ========== SLIDING SOCIAL MEDIA BUTTON ICONS END================*/
/* ========== SLIDING SOCIAL MEDIA BUTTON ICONS END================*/

/* ========= MARIO FOOTER ARRANGEMENT ========================= */
.footermain {
  background: #0D0D0D;
}
.redbutton {
  background: red;
}



/*==================================== SHOP MOVIES SECTION ====================== */
/*==================================== SHOP MOVIES SECTION ====================== */
/*==================================== SHOP MOVIES SECTION ====================== */
/*==================================== SHOP MOVIES SECTION ====================== */
.shopMoviesButtons {
    background-color: black;
    height: 30px;
    width: 30px;
    color: white;
    font-size: 15px;
}

iframe{
    border: solid black 1px;
}
.videoCard {
    background-color: #0e0e0e;
    color: red;
}
.contentColumn {
    color: #696967;
}

/*==================================== SHOP MOVIES SECTION END====================== */
/*==================================== SHOP MOVIES SECTION END====================== */
/*==================================== SHOP MOVIES SECTION END====================== */
/*==================================== SHOP MOVIES SECTION END====================== */

/* BACK TO TOP STYLING
/* Back to top button */
#arrowBtn {
   display: inline; /* Hidden by default */
   position: sticky; /* Fixed/sticky position */
   bottom: 20px; /* Place the button at the bottom of the page */
   right: 30px; /* Place the button 30px from the right */
   z-index: 99; /* Make sure it does not overlap */
   border-radius: none; /* Remove borders */
   outline: none; /* Remove outline */
   background-color: black; /* Set a background color */
   color: white; /* Text color */
   cursor: pointer; /* Add a mouse pointer on hover */
   padding: 15px; /* Some padding */
   border-radius: 60px; /* Rounded corners */
   border: 3px solid red;
}

#arrowBtn:hover {
    background-color: pink; /* Add a dark-grey background on hover */
}



/*============================NAVBAR ===================================================== */
.navbar{
    background-color: rgba(0,0,0,0.5);
    padding: 0;
}
.primaryColor {
    color: #ff4240;
}

.nav-item:nth-child(2){
 background-color: rgba(255, 66, 64, 0.5);
}
.nav-item:nth-child(3){
 background-color: rgba(255, 66, 64, 0.5);
 margin: 0 5px;
}
.nav-item:nth-child(4){
 background-color: rgba(255, 66, 64, 0.5);
}
.navbar-brand{
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;

}
.searchBar {
    background-color: transparent;
}