.accountbuttons {
  background: #061621;
  color: #ffffff;
  font-size: 20px;
  padding: 2.5px 5px 2.5px 5px;
  text-decoration: none;
}

.redbar {
  color: #ffffff;
}

.redtext {
  color: red;
  text-align: right;
}

.redbutton {
  color: #ffffff;
  font-size: 16px;
  background: #e84545;
  padding: 2.5px 5px 2.5px 5px;
  text-decoration: none;
}

.hoverredbtn {
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #9e9e9e;
  padding: 2.5px 5px 2.5px 5px;
  text-decoration: none;
}

.hoverredbtn:hover {
  background: #e84545;
  text-decoration: none;
}

.footermain {
  background: #0D0D0D;
}

.footertitles {
  color: #7A7B75;
  display: flex;
  justify-content: center;
}

.subtitle {
  color: red;
}

.contactcontainer {
  padding-left: 2;
  padding-right: 0;
}

.contactcontainer2 {
  padding-right: 2;
  padding-left: 0;
}

.flexspacing {
  display: flex;
  justify-content: space-between;
}

.centraltext {
  display: flex;
  justify-content: center;
}
