@font-face {
    font-family: 'watchmen';
    src: url('../font/watchmen.ttf');
}

body {
    margin: 0;
    height: 100%;
}

.navbar {
    height: 5em;
    width: 100%;
    background-color: black;
    color: gold;
    padding: 0;
}

.navbar img {
    height: 3em;
    width: auto;
}

.navbar span {
    font-family: 'watchmen';
    letter-spacing: 0.4em;
    font-size: 2em;
}

.navbar a {
    font-family: 'watchmen';
    letter-spacing: 0.2em;
    color: teal;
}