@font-face {
    font-family: 'watchmen';
    src: url('../font/watchmen.ttf');
}

.section-gallery {
    width: 100vw;
    height: 100vh;
    background-color: gold;
}

#black {
    position: absolute;
    width: 9vw;
    height: 18vh;
    background-image: url("../image/black.png");
    opacity: 0.7;
    z-index: 1;
    overflow: hidden;
}

.flash {
    position: relative;
    width: 800px;
    height: auto;
    right: 200px;
    bottom: 200px
}

.setup {
    width: 9vw;
    height: 18vh;
    overflow: hidden;
    margin: 1px;
}

#black:hover {
    opacity: 0;
    position: absolute;
    animation: flash 0.5s ease-out;
    width: 9vw;
    height: 18vh;
}

.chat {
    height: 75vh;
    width: auto;
    pointer-events: all;
    position: absolute;
    z-index: 1000;
    align-self: center;
}

.thumbnails {
    padding-left: 25vw;
    padding-right: 25vw;
    position: absolute;
}

.modal-content {
    border: none;
}

@keyframes flash {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        background-image: none;
    }
}